# Additional modules
# Copy this file to .env
MATRIX_ENABLED=true 
MATRIX_URL=http://127.0.0.1:3003
MATRIX_URLS=http://matrix:3003,http://host.docker.internal:3003,http://127.0.0.1:3003

PRAGMA_UID=1000
PRAGMA_GID=1000
PRAGMA_KB_PATH=./knowledge_base
PRAGMA_SESSIONS_PATH=./sessions
