# Notes and sessions
sessions/

# Backup files that should only be local
*.bak

# Enviromental variables that should only be local
*.env

# Personal Knowledge-base dir or symlinks
knowledge_base/*
/knowledge_base

# Workbenches
*.workbench
*.workbench.enc

# NodeJS modules
node_modules/*

# VSCode specific
*.vscode
*.code-workspacex