# Notes and sessions
sessions/

# Personal Knowledge-base dir or symlinks
knowledge_base/*
/knowledge_base

# Workbenches
*.workbench
*.workbench.enc

# NodeJS modules
node_modules/*

# VSCode specific
*.vscode
*.code-workspacex