<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/body') %>
<%- include('partials/overlays') %>
<script src="app/targets.js"></script>
<script src="app/kb.js"></script>
<script src="app/search.js"></script>
<script src="app/app.js"></script>
</body>
</html>
